html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul,
li {
	bottom: 0;
	padding: 0;
	list-style: none;
}
body {
	font-family: "Roboto", sans-serif;
	color: $color-text;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-fluid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}

@media (max-width: 720px) {
	.container-fluid {
		padding: 0 15px;
	}
}
.title {
	color: $bg;
	font-size: 36px;
	text-align: center;
	font-weight: 700;
}
.rate-star {
	display: inline-block;
	margin-right: 13px;
}
.jq-ry-container {
	display: inline-block;
}
