@import "vars";
@import "global";
@import "fonts";

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 91px;
	align-items: center;
}
.header__phone {
	font-size: 15px;
	line-height: 24px;
	color: $color-blue;
	margin-left: auto;
	margin-right: 50px;
	span {
		color: $red;
	}
}
.header__basket {
	background-image: url(../images/basket.svg);
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
.header__basket::before {
	content: "";
	position: absolute;
}

.header__button {
	text-align: center;
	padding: 4px;
	border-radius: 4px;
	color: #fff;
	width: 72px;
	line-height: 24px;
	font-size: 12px;
}
.header__login {
	background-color: $green;
}
.header__register {
	background-color: $red;
	margin-left: 7px;
}
.header__bottom {
	background-color: $bg;
}

.header__bottom-menu {
	height: 60px;
	align-items: center;
	display: flex;
}
.header__bottom-list {
	li {
		display: inline-block;
		& + li {
			margin-left: 30px;
		}
	}
	a {
		font-size: 14px;
		color: #fff;
	}
}
.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 533px;
	color: #fff;
}
.search__inner {
	padding: 155px 0 50px;
	text-align: center;
}
.search__inner-title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 30px;
}
.search__inner-text {
	font-size: 20px;
	margin-bottom: 50px;
}

form {
	position: relative;
	max-width: 670px;
	margin: 0 auto;
}
.search__inner-input {
	border-radius: 4px;
	box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
	width: 100%;
	height: 56px;
	outline: none;
	border: none;
	padding-left: 25px;
	padding-right: 60px;
	font-size: 14px;
	color: $color-gray;
	&::placeholder {
		color: $color-gray;
	}
}
button {
	position: absolute;
	border: none;
	background-color: transparent;
	right: 20px;
	top: 17px;
}
